



.todo-list{
  width: 600px;
  height: 550px;
  margin: 130px auto;
  background-color: #fff;

}
.control h1{
  width: 100%;
  font-size: 100px;
  text-align: center;
  margin: 0;
  color: black;
}
.control .new-todo{
  padding: 16px 16px 16px 60px;
  border: 0;
  outline: 0;
  font-size: 24px;
  box-sizing: border-box;
  line-height: 1.4rm;
}
.todos{
  margin: 0;
  padding: 0;
  list-style: none;
}
.todo-item{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.todo-item input{
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 20px;
}
.todo-item label{
  flex: 1;
  display: block;
  padding: 15px 15px 15px 0;
  line-height: 1.2;
}
.todo-item label.complete{
  text-decoration: line-through;
}
.todo-item button{
  border: 0;
  outline: 0;
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  color: #000;
}